/* CSS Document */
.contenido{
display:block;
background:#FFF;
color:#000;
border:solid #999 1px;
padding-top:1px;
padding-left:10px;
padding-right:10px;
text-align:justify;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
}
.footer{
font-size:12px;
font-family:"Times New Roman", Times, serif;
background-image:-webkit-gradient(linear,left top,left bottom,from(#0287D0),to(#0057A0));
border:#0077C0 1px solid;
}
.cabecera{
font-size:18px;
font-family:"Times New Roman", Times, serif;
text-align:center;
background-image:-webkit-gradient(linear,left top,left bottom,from(#0057A0),to(#0287D0));
display:block;
height:auto;
width:auto;
border:#0077C0 1px solid;
}
a{
text-decoration:none;
}