/* CSS Document */
.contenido{
display:block;
background:#FFF;
color:#666;
border:solid #999 1px;
padding-top:5px;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
text-align:justify;
font-size:16px;
font-family:"Times New Roman", Times, serif;
width:auto;
height:100%;
}
.footer{
font-size:12px;
font-family:"Times New Roman", Times, serif;
background-image:-webkit-gradient(linear,left top,left bottom,from(#0287D0),to(#0057A0));
border:#0077C0 1px solid;
}
.cabecera{
font-size:18px;
font-family:"Times New Roman", Times, serif;
text-align:center;
background-image:-webkit-gradient(linear,left top,left bottom,from(#0057A0),to(#0287D0));
display:block;
height:auto;
width:auto;
border:#0077C0 1px solid;
}
a{
text-decoration:none;
}
.opa{
opacity:0.6;
}
.cabecera_ingre{
font-size:18px;
font-family:"Times New Roman", Times, serif;
text-align:center;
background-image:-webkit-gradient(linear,left top,left bottom,from(#0057A0),to(#0287D0));
display:block;
height:auto;
width:auto;
border:#0067B0 1px solid;
}
.btn_reg{
font-family:"Times New Roman", Times, serif;
background-image:-webkit-gradient(linear,left top,left bottom,from(#D73C2C),to(#E74C3C));
border:#C72C1C 1px solid;
width:auto;
height:40px;
color:#fff;
font-size:18px;
text-shadow:none;
}
.btn_reg:hover{
cursor:auto;
opacity:0.9;
}
.btn_ini{
font-family:"Times New Roman", Times, serif;
background-image:-webkit-gradient(linear,left top,left bottom,from(#009C41),to(#0EAC51));
border:#008C31 1px solid;
width:160px;
color:#FFF;
font-size:18px;
text-shadow:none;
}
.btn_ing{
font-family:"Times New Roman", Times, serif;
background-image:-webkit-gradient(linear,left top,left bottom,from(#D73C2C),to(#E74C3C));
border:#C72C1C 1px solid;
width:160px;
color:#FFF;
font-size:18px;
text-shadow:none;
border-radius:20px;
}
.btn_sig{

}
.labels{
background:#FFF;
font-family:"Times New Roman", Times, serif;
border-radius:10px;
border: #999 1px solid;
padding:10px;
text-align:center;
width:auto;
height:20px;
}
.slider{
width:95%;
margin:auto;
overflow:hidden;
}
.slider ul{
padding:0;	
display:flex;
width:100%;
animation: cambio 20s infinite;
}
.slider li{
list-style:none;
width:100%;
}
.slider img{
width:100%;
}